html{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    height: 100%;
    width:100%;
    margin: 0;
}

body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;
}

#feedback{
    position:fixed;
    bottom: 2em;
    left:8%;
    width: 80%;
    text-align: center;
    padding: 1%;
    z-index: 9999;
    color: rgba(255,255,255,1);
    border-radius: 5px;
    opacity: 1;
    font-weight: bold;
    transition: opacity 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.notok{
background-color: rgba(201, 79, 79, 0.6);
border: 2px solid rgba(201, 79, 79, 0.8);
}

.ok{
background-color: rgba(98, 213, 98, 0.6);
border: 2px solid rgba(98, 213, 98, 0.8);
}

#feedback:hover{
opacity: 0.4
}